.git
.DS_Store
node_modules
client/node_modules
server/node_modules
client/dist
server/dist
storage
storage.config.json
server/data
server/uploads
.log
template
*.env
*.db
*.sqlite
*.sqlite3
*.xls
*.xlsx
*.csv
*.hwpx
*.zip
